* {
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.one {
    background-color: rgb(250, 13, 13);
}

p {
    color:white;
    font-size: 19px;
}

h1 {
    color:white;
    font-size: 36px;
}

span {
    color: yellow;
}

.One {
    background-color: #9b59b6;
}

.two {
    background-color: aqua;
}

.three {
    background-color: rgb(94, 21, 142);
}

.four {
    background-color: rgb(208, 254, 22);
}

.five {
    background-color: rgb(29, 175, 238);
}

::marker {
    font-size: 32px;
    color:rgb(63, 252, 0);
}